.container{
	height: 550px;
	width: 100%;
	background-image: url("../../features/homepage/images/Vintage-Wedding-Roses.jpg");
	background-size: cover;
    background-repeat: no-repeat;
}



.App{
	text-align: center;
	font-size: 35px;
	margin-top: 20%;
	padding-top: 120px;
	/* background-color: antiquewhite;
	border: 3px;
	border-color: bisque; */

}

.App-title{
	font-size: 50px;
}

.Clock-hours,
.Clock-minutes,
.Clock-seconds,
.Clock-days{
	display: inline;
	margin: 10px;
}

.Deadline-input{
	font-size: 20px;
	margin:5px;
	position: relative;
	left: 300px;
}
button{
	position: relative;
	left: 300px;
}
