input[type=text], input[type=password], input[type=email] {
  padding: 4px 8px;
  margin: 4px;
}

label {
  display: block;
  margin: 2px 4px;
  color: rgb(56, 56, 56);
}

label:after {
  content: '';

}